<!-- FOOTER-1
			============================================= -->
<footer id="footer-1" class="footer division">
  <div class="container">


    <!-- FOOTER CONTENT -->
    <div class="row">


      <!-- FOOTER INFO -->
      <div class="col-lg-4">
        <div class="footer-info mb-40">

          <!-- Footer Logo -->
          <img class="footer-logo mb-25" src="/images/footer-logo.jpg" alt="footer-logo">


        </div>
      </div>


      <!-- FOOTER LINKS -->
      <div class="col-sm-12 col-md-6 col-lg-2 col-xl-4">
        <div class="footer-links mb-40">

          <!-- Title -->
          <h6 class="h6-xl">Company</h6>

          <!-- Footer Links -->
          <ul class="foo-links text-secondary clearfix">
            <li>
              <p class="p-md"><a href="/about/">About Us</a></p>
            </li>
            <li>
              <p class="p-md"><a href="/services/">Services</a></p>
            </li>
            <li>
              <p class="p-md"><a href="/blog/">Blog</a></p>
            </li>
            <li>
              <p class="p-md"><a href="javascript:window.location.href=atob('bWFpbHRvOmhlbGxvQGZyb250aWVyZGlnaXRhbC5uZXQ=')">Contact Us</a></p>
            </li>
          </ul>

        </div>
      </div>


      <!-- FOOTER LINKS -->
      <div class="col-sm-12 col-md-6 col-lg-2 col-xl-4">
        <div class="footer-links mb-40">

          <!-- Title -->
          <h6 class="h6-xl">Useful Links</h6>

          <!-- Footer List -->
          <ul class="foo-links text-secondary clearfix">
            <li>
              <p class="p-md"><a href="/terms">Terms & Conditions</a></p>
            </li>
            <li>
              <p class="p-md"><a href="#">Privacy Policy</a></p>
            </li>
            <li>
              <p class="p-md"><a href="#">Cookie Policy</a></p>
            </li>
            <li>
              <p class="p-md"><a href="#">Site Map</a></p>
            </li>
          </ul>

        </div>
      </div>



    </div> <!-- END FOOTER CONTENT -->


    <hr>


    <!-- BOTTOM FOOTER -->
    <div class="bottom-footer">
      <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


        <!-- FOOTER COPYRIGHT -->
        <div class="col">
          <div class="footer-copyright">
            <p>&copy; {{ now.Year }} Frontier Digital Ltd</p>
          </div>
        </div>


        <!-- BOTTOM FOOTER LINKS -->
        <div class="col">
          <ul class="bottom-footer-list text-secondary text-end">
            <li class="first-li">
              <p><a href="https://twitter.com/frontierdigita2">Twitter</a></p>
            </li>
            <li class="last-li">
              <p><a href="https://www.linkedin.com/company/85886980/">LinkedIn</a></p>
            </li>
          </ul>
        </div>


      </div> <!-- End row -->
    </div> <!-- BOTTOM FOOTER -->


  </div>
</footer> <!-- END FOOTER-1 -->
