<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <img src="/images/horizontal.png" height="32" />
      </a>

      <ul class="nav nav-pills col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li
            class="navbar-item {{ if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main" .) }}
              active
            {{ end }}"
          >
            <a class="nav-item" href="{{ .URL }}" title="{{ .Title }}"
              >{{ .Name }}</a
            >
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</header>
