<!-- FEATURE BOX #1 -->
<div class="col">
    <div class="fbox-2 mb-40 wow fadeInUp">

        <!-- Icon -->
        <div class="fbox-ico-center ico-65 shape-ico orange-red-color">
            <img class="ico-bkg" src="images/ico-bkg.png" alt="ico-bkg">
            <span class="flaticon-double-click"></span>
        </div>

        <!-- Text -->
        <div class="fbox-txt-center section">

            {{ with .Site.GetPage "section" "home/featurebox1" }}{{ .Content }}{{ end }}

        </div>

    </div>
</div>
