<!DOCTYPE html>
<!-- OLMO - Software, App, SaaS & Startup Landing Pages Pack design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
  <style>
    html, body
    {
      height: 100%;
      margin:0;
      padding:0;
    }

    div {
      position:relative;
      height: 100%;
      width:100%;
    }

    div img {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
    }
  </style>
  <body style="background-color:#24272A;">
    <div>
      <img src="/images/frontierhqlogo.png" alt="content-image">
    </div>
  </body>
</html>
