<!DOCTYPE html>
<!-- OLMO - Software, App, SaaS & Startup Landing Pages Pack design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">


	{{ partial "head.html" . }}



	<body>




		{{ partial "spinner.html" }}




		<!-- PAGE CONTENT
		============================================= -->
		<div id="page" class="page">




			{{ partial "header.html" }}




			{{ partial "index/hero.html" . }}
<!-- CONTENT-666
			============================================= -->
			<section id="content-6" class="content-6 wide-60 content-section division">
			 	<div class="container">
			 		<div class="row d-flex align-items-center">


						<!-- TEXT BLOCK -->
						<div class="col-md-6 col-lg-5">
							<div class="txt-block left-column wow fadeInLeft">

								<!-- TEXT BOX -->
								<div class="txt-box mb-30 section">
									{{ with .Site.GetPage "section" "section1" }}{{ .Content }}{{ end }}
								</div>

							</div>
						</div>
						<!-- IMAGE BLOCK -->
						<div class="col-md-6 col-lg-7">
							<div class="img-block right-column wow fadeInLeft">
								<img class="img-fluid" src="images/img-20.png" alt="content-image">
							</div>
						</div>


						</div>
						<div class="col-md-12 section">
													{{ with .Site.GetPage "section" "section2" }}{{ .Content }}{{ end }}
<div>



					</div>     <!-- End row -->
			 	</div>      <!-- End container -->
			</section>	 <!-- END CONTENT-6 -->
<!-- CONTENT-6
			============================================= -->
			<section id="content-6" class="content-6 wide-60 content-section division">
			 	<div class="container">
			 		<div class="row d-flex align-items-center">

								 			<!-- IMAGE BLOCK -->
						<div class="col-md-6 col-lg-7">
							<div class="img-block right-column wow fadeInLeft">
								<img class="img-fluid" src="images/img-20.png" alt="content-image">
							</div>
						</div>


			 			<!-- TEXT BLOCK -->
			 			<div class="col-md-6 col-lg-5">
			 				<div class="txt-block left-column wow fadeInRight">

					 			<!-- TEXT BOX -->
								<div class="txt-box mb-30">

									<!-- Title -->
									<h5 class="h5-lg">Cloud Based Automation</h5>

									<!-- Text -->
									<p class="p-lg">So how do you know when it’s time to leap into the cloud? One of the big indicators, is feeling bogged down in too many manual processes.
									Emailing multiple versions of a document to different colleagues; waiting for your files upload to the CRM; manually adding new email to your contact list….
									This can take up hours every week, and that’s time you don’t have to spare if you when you have big plans for the future.
									</br>
									If you are an in house developer, you could be finding that common tasks taking up a lot of your time and you are looking for a way to streamline your workload** We can help.
									</p>

								</div>



					 		</div>
					 	</div>





					</div>     <!-- End row -->
			 	</div>      <!-- End container -->
			</section>	 <!-- END CONTENT-6 -->


			<!-- FEATURES-2
			============================================= -->
			<section id="features-2" class="wide-60 features-section division">
				<div class="container">


					<!-- FEATURES-2 WRAPPER -->
					<div class="fbox-2-wrapper text-center">
						<div class="row row-cols-1 row-cols-md-3">


							<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-2 mb-40 wow fadeInUp">

		 							<!-- Icon -->
									<div class="fbox-ico-center ico-65 shape-ico orange-red-color">
		 								<img class="ico-bkg" src="images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-double-click"></span>
									</div>

									<!-- Text -->
									<div class="fbox-txt-center">

										<!-- Title -->
										<h5 class="h5-md">Already using Cloud Software?</h5>

										<!-- Text -->
										<p class="p-lg">If you are already on the cloud, but aren’t quite content with your systems, we can help re-structure your cloud to ensure it is actually doing what you need it to do.
										We can review your infrastructure to help you utilising as much as you can for the best cost. Let’s get your staff trained up on how to make the most of automation and the other features your software provides.
										</p>

									</div>

		 						</div>
		 					</div>


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-2 mb-40 wow fadeInUp">

		 							<!-- Icon -->
									<div class="fbox-ico-center ico-65 shape-ico orange-red-color">
		 								<img class="ico-bkg" src="images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-web-browser"></span>
									</div>

									<!-- Text -->
									<div class="fbox-txt-center">

										<!-- Title -->
										<h5 class="h5-md">Superior Security</h5>

										<!-- Text -->
										<p class="p-lg">Cybersecurity is (or should be!) one of the biggest concerns for every business. Our cloud software protects against unauthorised access and enables you to easily limit access to files and folders on a ‘need to know’ basis.
										</br>
										The security stands up to cyber threats and doesn’t rely on your staff to review and update security protocols. This includes much higher change of data recovery should you loose data, when compared with on premise systems.

										</p>

									</div>

		 						</div>
		 					</div>


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-2 mb-40 wow fadeInUp">

		 							<!-- Icon -->
									<div class="fbox-ico-center ico-65 shape-ico orange-red-color">
		 								<img class="ico-bkg" src="images/ico-bkg.png" alt="ico-bkg">
										<span class="flaticon-web-programming"></span>
									</div>

									<!-- Text -->
									<div class="fbox-txt-center">

										<!-- Title -->
										<h5 class="h5-md">DevOps Orchestration</h5>

										<!-- Text -->
										<p class="p-lg">Managing dependencies for applications down to the infrastructure level can be tiresome; Frontier Digital focus on solutions to maintain a full layered environment.
										When you need more than automation, we implement orchestration that reduces production issues and speed up time to market.


										</p>

									</div>

		 						</div>
		 					</div>


		 				</div>
					</div>    <!-- END FEATURES-2 WRAPPER -->


				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-2 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">



















			<!-- CONTENT-2A
			============================================= -->
			<section id="content-2a" class="content-2 bg-04 wide-60 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- IMAGE BLOCK -->
						<div class="col-md-5 col-lg-6">
							<div class="rel img-block left-column wow fadeInRight">
								<img class="img-fluid" src="images/img-10.png" alt="content-image">
							</div>
						</div>

				<!-- TEXT BLOCK -->
				<div class="col-md-7 col-lg-6">
					<div class="txt-block right-column white-color wow fadeInLeft epic">

						{{ with .Site.GetPage "section" "epic" }}{{ .Content }}{{ end }}

					</div>
				</div> <!-- END TEXT BLOCK -->




					</div>	   <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END CONTENT-2A -->












			<!-- CONTENT-1
			============================================= -->
			<section id="content-1" class="content-1 bg-snow wide-60 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- TEXT BLOCK -->
						<div class="col-lg-6 order-last order-lg-2">
							<div class="txt-block slim-column left-column wow fadeInRight">

								<!-- Title -->
								<h2 class="h2-xs">Why Frontier Digital?</h2>

								<!-- List -->
								<ul class="simple-list">

									<li class="list-item">
										<p class="p-lg">We guarantee a low MTTR (mean time to recovery when problems arise)</p>
									</li>

									<li class="list-item">
										<p class="p-lg">Guard against unexpected bills through FinOps </p>
									</li>

									<li class="list-item">
										<p class="p-lg">We are with you throughout your journey, supporting your growth
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg">Approachable, friendly team
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg">We make sure you are actually using everything you pay for
										</p>
									</li>


								</ul>
								<div class="btns-group mb-20">
									<a href="#" class="btn btn-orange-red tra-white-hover mr-15">Need more convincing?</a>
									</a>
								</div>
							</div>
						</div>	<!-- END TEXT BLOCK -->


						<!-- CB WRAPPER -->
						<div class="col-lg-6 order-first order-lg-2">
							<div class="cb-wrapper">

								<!-- CB HOLDER -->
								<div class="cb-holder wow fadeInLeft">

									<!-- CB BOX #1 -->
									<div class="cb-single-box">
										<p class="p-lg cb-header">Cups of coffee in the last week</p>
										<h2 class="h2-title-xs statistic-number"><sup>+</sup><span class="count-element">784</span></h2>
										<p class="p-md mt-5 ico-10">
											<span class="violet-red-color"><span class="flaticon-"></span> 4.6%</span> vs last 7 days
										</p>
									</div>

									<hr class="divider">

									<!-- CB BOX #2 -->
									<div class="cb-single-box">
										<ul class="simple-list">
											<li class="list-item">
												<p class="p-md">We work with a small number of key clients meaning we give you our full attention</p>
											</li>

											<li class="list-item">
												<p class="p-md">Reliable systems created by high levels of redundancy</p>
											</li>
										</ul>
									</div>

									<!-- CB BOX #3 -->
									<div class="cb-single-box cb-box-rounded bg-violet-red white-color mt-25">
										<p class="p-lg">Highly experienced in Devops and Sys Admin</p>
									</div>

								</div>	<!-- END CB HOLDER -->


								<!-- CB SHAPE -->
								<div class="cb-shape-1">
									<img class="img-fluid" src="images/bg-shape-1.png" alt="content-image">
								</div>

								<!-- CB SHAPE -->
								<div class="cb-shape-2">
									<img class="img-fluid" src="images/bg-shape-2.png" alt="content-image">
								</div>


							</div>
						</div>	<!-- END CB WRAPPER -->


					</div>	   <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END CONTENT-1 -->




						<!-- BRANDS-1
			============================================= -->
			<div id="brands-1" class="wide-100 brands-section division">
				<div class="container">
					<div class="row">
						<div class="col text-center">
<h5 class="h5-md">We work with</h5><p></p>

							<!-- Brands Carousel -->
							<div class="owl-carousel brands-carousel">

								<!-- Brand Logo Image -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-1.png" alt="brand-logo" />
								</div>

								<!-- Brand Logo Image -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-2.png" alt="brand-logo" />
								</div>

								<!-- Brand Logo Image -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-3.png" alt="brand-logo" />
								</div>

								<!-- Brand Logo Image -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-4.png" alt="brand-logo" />
								</div>

								<!-- Brand Logo Image -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-5.png" alt="brand-logo">
								</div>

							</div>	<!-- End Brands Carousel -->


						</div>
					</div>  <!-- End row -->
				</div>	<!-- End container -->
			</div>	<!-- END BRANDS-1 -->






















			<!-- DIVIDER LINE -->
			<hr class="divider">












            {{ partial "footer.html" }}

		</div>	<!-- END PAGE CONTENT -->




		<!-- EXTERNAL SCRIPTS
		============================================= -->
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/jquery.easing.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.scrollto.js"></script>
		<script src="js/menu.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/quick-form.js"></script>
		<script src="js/request-form.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/wow.js"></script>

		<!-- Custom Script -->
		<script src="js/custom.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->



	</body>



</html>
